<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/images/logo/logo_dark.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" media="print" onload="this.media='all'">

    <script src="https://kit.fontawesome.com/db7d425af0.js" crossorigin="anonymous" async></script>

    <link rel="stylesheet" href="/css/colors.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="/css/main.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="/css/navbar.css" media="print" onload="this.media='all'">

    <%- style %>

    <title>iCoder
        <% if(typeof title !== 'undefined') { %>
            <%= " - " + title %>
        <% } %>
    </title>
</head>
<body>
    <%- include('partials/navbar') %>
    <%- body %>

    <%- include('partials/footer') %>

    <script type="text/javascript" src="/js/navbar.js"></script>
    <%- script %>
</body>
</html>