<link rel="stylesheet" href="/css/practice.css">

<div class="container">
    <div class="cards">
        <div class="card">
            <img src=<%= `/images/badges/java_${javaBadge}.svg` %> alt="badge" width="110"/>
            <h3 class="card-title">Java</h3>
            <p><span style="color: var(--google-btn)"><%= user.javaPoints %></span> Points!</p>
            <a href="/questions/java">Continue Preparation <i class="fas fa-angle-right"></i></a>
        </div>
        <div class="card">
            <img src=<%= `/images/badges/cpp_${cppBadge}.svg` %> alt="badge" width="110"/>
            <h3 class="card-title">C++</h3>
            <p><span style="color: var(--google-btn)"><%= user.cppPoints %></span> Points!</p>
            <a href="/questions/cpp">Continue Preparation <i class="fas fa-angle-right"></i></a>
        </div>
        <div class="card">
            <img src=<%= `/images/badges/python_${pythonBadge}.svg` %> alt="badge" width="110"/>
            <h3 class="card-title">Python</h3>
            <p><span style="color: var(--google-btn)"><%= user.pythonPoints %></span> Points!</p>
            <a href="/questions/python">Continue Preparation <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
</div>