<%- include('partials/codemirrorHead') %>
<link rel="stylesheet" href="/css/problem.css">

<div class="container">
    <div class="header">
        <h1><%- title %></h1>
        <p><span style="color: var(--green);"><%= difficulty === 0  ? 'Easy' : difficulty === 1 ? 'Medium' : 'Hard' %>,</span> Max Score: <span style="color: var(--google-btn)"><%- maxScore %></span></p>
        <a href="/questions/java" class="header-link"><i class="fas fa-angle-left"></i>Questions</a>
    </div>
    <div class="page">
        <div class="question-arr">
            <h2>Description</h2>
            <p><%- description %></p>
        </div>
        <% if(question) { %>
            <div class="question-arr">
                <h2>Question</h2>
                <p><%- question %></p>
            </div>
        <% } %>

        <div class="question-arr">
            <h2>Input Format</h2>
            <p><%- inputFormat %></p>
        </div>
        <div class="question-arr">
            <h2>Output Format</h2>
            <p><%- outputFormat %></p>
        </div>
        <div class="question-arr">
            <h2>Constraints</h2>
            <p><%- constraints %></p>
        </div>
        <div class="question-arr">
            <h2>Sample Input</h2>
            <p><%- sampleInput %></p>
        </div>
        <div class="question-arr">
            <h2>Sample Output</h2>
            <p><%- sampleOutput %></p>
        </div>
        <div class="question-arr">
            <h2>Explanation</h2>
            <p><%- explanation %></p>
        </div>
    </div>
    <form class="page" action=<%= `/questions/${lang}/${id}`%> method="POST">
        <label class="form-label">
            Theme:
            <select id="theme" name="theme" style="font-size: 1em">
                <option value="material-ocean">Ocean</option>
                <option value="darcula" selected>Darcula</option>
                <option value="eclipse">Eclipse</option>
            </select>
        </label>

        <span id="fullscreen-notice">Press F11 to toggle full-screen mode</span>

        <br />
        <br />

        <textarea id="script" name="script"></textarea>

        <button type="submit" id="submit-code">Submit Code</button>

        <% if(typeof result !== 'undefined') { %>
            <div class="result">
                <h3 style="color: <%= result.success ? "var(--green);" : "red" %>"> <%- result.message %> </h3>
                <div class="result-arr-wrapper">
                    <div class="result-arr">
                <h2>Input(stdin)</h2>
                <p><%- result.stdin %></p>
            </div>
                    <div class="result-arr">
                <h2>Expected output</h2>
                <p><%- result.stdout %></p>
            </div>
                    <div class="result-arr">
                <h2>Your output(stdout)</h2>
                <p><%- result.output %></p>
            </div>
                </div>
            </div>
            <% if(result.success && !alreadySolved) { %>
                <p style="color: var(--green); font-size: 1.5em;">You earned: <span style="color: var(--google-btn);"><%= maxScore %> points!</span><span style="color: var(--gray-fonts); margin-left: 5px">(total: <%= user.javaPoints %> Java points)</span></p>
            <% } %>
        <% } %>

    </form>
</div>

<script type="text/javascript" src="/js/problem.js">
</script>
<script type="text/javascript">
    const lang = "<%= lang %>";
    editor.setOption("mode", getMode(lang))

    editor.setValue(<%- JSON.stringify(boilerplate) %>);

    <% if(typeof themeName !== "undefined") { %>
        const themeName = "<%= themeName %>";
        editor.setOption("theme", themeName);
        theme.value = themeName;
    <% } %>

    <% if(scrollToResult) { %>
        const result = document.querySelector('.result');
        result.scrollIntoView({ behavior: 'auto' });
    <% } %>


    function getMode(value){
        switch (value){
            case 'python3':
                return 'python';
            case 'java':
                return 'text/x-java';
            case 'cpp':
                return 'text/x-c++src';
            default:
                return null;
        }
    }
</script>