<link rel="stylesheet" href="/css/profile.css">

<div class="container">
    <div class="profile">

        <div class="profile-img">
            <img class="profile-img" src="<%= user.displayPic === "" ? "/images/developers/generic-male.jpg" : user.displayPic %>" alt="profile">
            <h2><%= user.displayName %></h2>
        </div>
        <div class="details">
            <h2 class="heading">Details</h2>
            <div class="detail">
                <h3>ID:</h3>
                <p><%= user.id %></p>
            </div>
            <div class="detail">
                <h3>Username:</h3>
                <p><%= user.displayName %></p>
            </div>
            <div class="detail">
                <h3>Provider:</h3>
                <p><%= user.provider.toUpperCase() %></p>
            </div>
            <div class="detail">
                <h3>Total solved:</h3>
                <p><%= user.solved.length %></p>
            </div>
        </div>
        <div class="status">
            <h2 class="heading">Status</h2>
            <div class="java-status">
                <h3 style="color: #634533;">JAVA</h3>
                <div class="progress-bar">
                    <div class="progress" style="width: <%= user.javaPoints %>%; max-width: 100%"></div>
                    <span class="points">
                        <%= user.javaPoints %>/100
                    </span>
                </div>
            </div>
            <div class="cpp-status">
                <h3 style="color: rgb(85 26 139);">C++</h3>
                <div class="progress-bar">
                    <div class="progress" style="width: <%= user.cppPoints %>%; max-width: 100%"></div>
                    <span class="points">
                        <%= user.cppPoints %>/100
                    </span>
                </div>
            </div>
            <div class="python-status">
                <h3 style="color: #cc9f00;">Python</h3>
                <div class="progress-bar">
                    <div class="progress" style="width: <%= user.pythonPoints %>%; max-width: 100%"></div>
                    <span class="points">
                        <%= user.pythonPoints %>/100
                    </span>
                </div>
            </div>
        </div>
        <div class="badges">
            <h2 class="heading">Badges</h2>
            <div class="badges-container">
                <img src=<%= `/images/badges/java_${javaBadge}.svg` %> alt="badge"/>
                <img src=<%= `/images/badges/cpp_${cppBadge}.svg` %> alt="badge"/>
                <img src=<%= `/images/badges/python_${pythonBadge}.svg` %> alt="badge"/>
            </div>
        </div>
        <a href="/auth/logout" id="logout-btn"><i class="fas fa-angle-left"></i>Logout</a>
    </div>
</div>